<div class="navBar">
  <div class="grid-container">
    <div class="grid-logo">
    </div>
    <div class="button-row">
      <a class="button-menu" href="/Inicio">Inicio</a>
      <a class="button-menu" href="/Gestiones">Gestiones</a>
      <a class="button-menu" href="/Historial">Historial</a>
    </div>
  </div>
</div>
<router-outlet />
<div class="navFooter">
  <footer class="footer">
    <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by
      <a href="#">Brayan Camargo</a>.
    </p>
  </footer>
</div>