/* Estilos generales */
:host {
  background: #f4f4f9;
  left: 0;
  width: 100vw;
  height: 100vh; /* Asegura que cubra toda la altura de la pantalla */
  position: relative; /* No está fijado a la pantalla para no tapar el contenido */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
}

.grid-container {
  width: 100%;
}

.grid-logo {
  background-image: url("/Nombre.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 10em;
  display: block;
  width: 100%;
  text-align: center;
  padding: 1.4em;
  font-size: 1.2em;
  grid-row: 1;
  min-width: 180px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 1);
  color: rgb(116, 114, 114);
  text-align: center;
  padding: 1em;
  font-size: 1em;
  grid-row: 1;
}

.cont {
  background-color: black;
  text-align: center;
  height: 8em;
  width: 100vw;
}

.logo {
  width: 4em;
}

.button-menu {
  vertical-align: middle;
  margin-top: 1em;
  text-decoration: none;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  height: 100%; /* Asegura que ocupe todo el alto del contenedor */
  margin-right: 5em;
  color: rgb(161, 159, 159);
}

.button-menu:hover {
  color: rgb(8, 8, 8); /* Color de letra */
  text-decoration: none;
  transform: scale(1.10);
}

.button-row {
  margin: center;
  text-align: center;
  min-width: 400px;
}

/* Footer */
.navFooter {
  background-color: rgb(172, 172, 172);
  width: 100%;
  text-align: center;
  position: relative; /* Lo posicionamos de manera relativa para que no tape el contenido */
  bottom: 0;
  height: 5em;
  z-index: 2; /* Asegura que el footer quede al final, sin tapar contenido */
}

.footer {
  position: relative;
  color: white;
  padding: 1rem 0; /* Añadimos padding para un mejor espaciado */
}

/* Añadimos un padding-bottom al contenedor principal para hacer espacio para el footer */
:host {
  padding-bottom: 6em; /* Esto deja espacio suficiente para el footer */
}
