<div class="list-container">
  <h1>Historial de Gestiones</h1>

  <table *ngIf="gestiones.length > 0">
    <thead>
      <tr>
        <th>Alerta</th>
        <th>Tipo de Gestión</th>
        <th>Detalle</th>
        <th>Resumen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gestion of gestiones">
        <td>{{ gestion.alerta }}</td>
        <td>{{ gestion.tipoGestion }}</td>
        <td>{{ gestion.detalleGestion }}</td>
        <td>{{ gestion.resumenGestion }}</td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="gestiones.length === 0">No hay gestiones almacenadas.</p>
</div>
